:root {
    --screen-xl: 1440px;
}

$screen-xl: "1440px";

$white: #fff;
$black: #000;
$light-petrol: rgb(80, 231, 211);
$dark-petrol: rgb(251, 139, 138);
$gray: rgb(102, 102, 102);
$light-gray: rgb(239 237 237);